* {
    margin: 0;
    padding: 0;
}

div.room {
    position: absolute;
    box-sizing: border-box;
}

/*
    Outside edge of the floor plan
*/
div#outside_edge {
    background: transparent;
    width: 60%;
    padding-top: 72%;
    top: 5%;
    left: 20%;
    position: absolute;
    box-sizing: border-box;
}

/*
    Bathroom
*/
div#bathroom {
    background: white;
    width: 36%;
    height: 26.666%;
    top: 0%;
    left: 0%;
    border: 2px solid black;
}

/*
    Kitchen
*/
div#kitchen {
    background: white;
    width: 36%;
    height: 73.334%;
    top: 26.666%;
    left: 0%;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
}

/*
    Kitchen Light Emoji Location
*/
img#kitchen_light_emoji {
    position: absolute;
    top: 12.5%;
    left: 50%;
    transform: translateX(-50%);
}

/*
    Living Room Light Emoji Location
*/
img#living_room_light_emoji {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translateX(-50%);
}

/*
    Hall
*/
div#hall {
    background: white;
    width: 18%;
    height: 40%;
    top: 0%;
    left: 36%;
    border-top: 2px solid black;
    border-right: 2px solid black;
}

/*
    Bedroom
*/
div#bedroom {
    background: white;
    width: 37%;
    height: 40%;
    top: 40%;
    left: 36%;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
}

/*
    Bedroom One Light Emoji Location
*/
img#bedroom_light_emoji {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
}

/*
    Bedroom One Lamp Emoji Location
*/
img#bedroom_lamp_emoji {
    position: absolute;
    right: 1%;
    bottom: 1%;
}

/*
    Closet
*/
div#closet {
    background: white;
    width: 18%;
    height: 8.333%;
    top: 8.333%;
    left: 54%;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

/*
    Study
*/
div#study {
    background: white;
    width: 28%;
    height: 26%;
    top: 0%;
    left: 72%;
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
}

div#study_hall {
    background: white;
    width: 20%;
    height: 9.334%;
    top: 16.666%;
    left: 54%;
}

/*
    Spare Bedroom
*/
div#spare_bedroom {
    background: white;
    width: 27%;
    height: 54%;
    top: 26%;
    left: 73%;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
}

div#spare_bedroom_hall {
    background: transparent;
    width: 20%;
    height: 14%;
    top: 26%;
    left: 54%;
    border-top: 2px solid black;
}

/*
    Temperature
*/
p.temperature {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*
    Room Name
*/
p.room_name {
    position: absolute;
    top: 1%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

/*
    Room Image
*/
img.room_emoji {
    position: absolute;
    top: calc(50% + 20px);
    left: 50%;
    transform: translateX(-50%);
    width: 22.5%;
}

/*
    Light Image
*/
img.light_emoji {
    width: 22.5%;
}
