* {
    margin: 0;
    padding: 0;
}

/*
    Div to hold the information
*/
div#information_container {
    position: relative;
    float: left;
    margin-top: 5%;
    margin-left: 5%;
    width: 25%;
}
div.info {
    position: relative;
    box-sizing: border-box;
    border: 2px solid black;
    padding: 4px;
    float: left;
    width: 100%;
}

div#outside_information {
    margin-top: 5%;
}

/*
    Div to hold the house plans
*/
div#house_container {
    position: relative;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    width: 60%;
    float: right;
}

/*
    Outside edge of the floor plan
*/
div.outside_edge {
    box-sizing: border-box;
    position: relative;
    margin-bottom: 5vh;
    float: left;
}

div.room {
    position: absolute;
    box-sizing: border-box;
    background: white;
}

div#down_stairs {
    width: 44.4vh;
    height: 90vh;
    margin-right: 5vw;
}

div#up_stairs {
    width: 44.4vh;
    height: 48.8vh;
    margin-right: 5vw;
}

div#garden_room {
    width: 30.6vh;
    height: 25.2vh;
    border: 2px solid black;
}

/* For when they won't fit side by side */
@media only screen and (max-width: calc(45vw + 88.8vh)) and (min-width: calc(40vw + 44.4vh)) {
    /* Under each other
     * Add parent name to make it more specific so it overrides */
    div#house_container div#down_stairs,
    div#house_container div#up_stairs,
    div#house_container div#garden_room {
        float: none;
        margin-right: 0vw;
    }
}

/* For phone screens */
@media only screen and (max-width: calc(40vw + 44.4vh)) {
    /* Under each other
     * Add parent name to make it more specific so it overrides */

    div#house_container div#down_stairs,
    div#house_container div#up_stairs,
    div#house_container div#garden_room {
        float: none;
        margin-right: 0vw;
    }

    div#house_container div#down_stairs,
    div#house_container div#up_stairs {
        width: 60vw;
    }

    div#house_container div#down_stairs {
        height: 121.6vw;
    }

    div#house_container div#up_stairs {
        height: 66vw;
    }

    div#house_container div#garden_room {
        width: 41.5vw;
        height: 34.2vw;
    }
}

/*
    Down Stairs
*/

/*
    Living Room
*/
div#living_room_window {
    top: 0%;
    left: 12.4%;
    width: 43.9%;
    height: -moz-calc(7.1% + 2.41px);
    height: -webkit-calc(7.1% + 2.41px);
    height: -o-calc(7.1% + 2.41px);
    height: calc(7.1% + 2.41px);
    border-top: 2px solid black;
    border-right: 2px solid black;
    border-left: 2px solid black;
    z-index: 1;
}

div#living_room {
    width: 67.5%;
    height: 23.7%;
    top: 7.1%;
    left: 0%;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    border-top: 2px solid black;
}

div#down_stairs_chimney {
    position: absolute;
    box-sizing: border-box;
    width: 43.5%;
    height: 22.8%;
    top: -moz-calc(88.6% + 2px);
    top: -webkit-calc(88.6% + 2px);
    top: -o-calc(88.6% + 2px);
    top: calc(88.6% + 2px);
    left: 29.7%;
    background-color: white;
    border: 2px solid black;
    z-index: 1;
}

/*
    Down-Stairs Hall
*/
div#down_stairs_hall {
    width: 16.4%;
    height: 29.6%;
    top: 7.1%;
    left: 67.5%;
    border-top: 2px solid black;
    border-right: 2px solid black;
    border-left: 2px solid black;
}

/* Extra size and more negative top is to cover edges on phone screens */
div#down_stairs_opening {
    position: absolute;
    width: 5px;
    height: 20.2%;
    bottom: 0%;
    right: -3.5px;
    background-color: white;
    z-index: 1;
}

/*
    Down-Stairs Stairs
*/
div#down_stairs_stairs {
    width: 16.1%;
    height: 29.6%;
    top: 7.1%;
    left: 83.9%;
    border-top: 2px solid black;
    border-right: 2px solid black;
}

/*
    Dining Room
*/
div#dining_room {
    width: 67.5%;
    height: 27%;
    top: 30.8%;
    left: 0%;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
}

p#dining_room_name {
    top: 14%;
}

/*
    Bathroom
*/
div#bathroom {
    width: 36%;
    height: 21.1%;
    top: 36.7%;
    right: 0%;
    border: 2px solid black;
}

/*
    Kitchen
*/
div#kitchen {
    width: 48.2%;
    height: 42.2%;
    top: 57.8%;
    right: 5.7%;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
}

/*
    Down Stairs
*/

/*
    Spare Bedroom
*/
div#spare_bedroom {
    width: 68%;
    height: 49.5%;
    top: 0%;
    left: 0%;
    border: 2px solid black;
}

div#up_stairs_chimney {
    position: absolute;
    box-sizing: border-box;
    width: 36.7%;
    height: 27.6%;
    top: -moz-calc(86.2% + 2px);
    top: -webkit-calc(86.2% + 2px);
    top: -o-calc(86.2% + 2px);
    top: calc(86.2% + 2px);
    left: 33.7%;
    background-color: white;
    border: 2px solid black;
    z-index: 1;
}

/*
    Up-Stairs Hall
*/
div#up_stairs_hall {
    width: 14.6%;
    height: 70%;
    top: 0%;
    left: 68%;
    border-top: 2px solid black;
    border-right: 2px solid black;
}

/* Extra size and more negative top is to cover edges on phone screens */
div#up_stairs_opening {
    position: absolute;
    width: 3px;
    height: 18.5%;
    top: 0%;
    right: -2.5px;
    background-color: white;
    z-index: 1;
}

/*
    Up-Stairs Stairs
*/
div#up_stairs_stairs {
    width: 17.4%;
    height: 57.1%;
    top: 0%;
    left: 82.6%;
    border-top: 2px solid black;
    border-right: 2px solid black;
}

/*
    Hot Press
*/
div#hot_press {
    width: 17.4%;
    height: 12.9%;
    top: 57.1%;
    left: 82.6%;
    border-top: 2px solid black;
    border-right: 2px solid black;
}

/*
    Main Bedroom
*/
div#main_bedroom {
    width: 68%;
    height: 50.5%;
    top: 49.5%;
    left: 0%;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
}

p#main_bedroom_name {
    top: 14.6%;
}

/*
    Dressing Room
*/
div#dressing_room {
    background: white;
    width: 41.3%;
    height: 30%;
    top: 70%;
    right: 0%;
    border: 2px solid black;
}

/*
    Temperature
*/
p.temperature {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*
    Room Name
*/
p.room_name {
    position: absolute;
    top: 1%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

/*
    Room Image
*/
img.room_emoji {
    position: absolute;
    top: calc(50% + 20px);
    left: 50%;
    transform: translateX(-50%);
    width: 22.5%;
}
